# GCP Configuration
GCP_PROJECT=your-gcp-project-id
GCS_BUCKET=your-gcp-project-id-santander-cycles-lake
BQ_DATASET_RAW=santander_cycles_raw
BQ_TABLE_RAW=raw_rides
GOOGLE_APPLICATION_CREDENTIALS=keys/gcp-sa-key.json

# Prefect Cloud (optional - leave blank to use local Prefect)
PREFECT_API_URL=https://api.prefect.cloud/api/accounts/<account-id>/workspaces/<workspace-id>
PREFECT_API_KEY=your-prefect-api-key
