# User configuration, please update

## Export: required so subprocesses (Kestra, Terraform, etc.) see these vars after `source .env`

## GCP project ID & location.
export GCLOUD_PROJECT=my-project-id
export LOCATION=asia-southeast1

## Inclusive date range for ingestion (YYYY-MM-DD).
export START_DATE="2012-01-01"
export END_DATE="2025-12-31"

# End of user configuration




# Pre-set variables, don't change.

## Derives from GCP_PROJECT.
export GCS_BKT="${GCLOUD_PROJECT}-bkt"

## Relative to Kestra / Terraform directories.
export GOOGLE_APPLICATION_CREDENTIALS=../secrets/gcp-sa-key.json
export TF_VAR_credentials=../secrets/terraform-sa-key.json
